.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 15px;
}

.dialog a {
    font-size: 18px;
    color: ivory;
    text-decoration: none;
}

.dialog a.active {
    color: violet;
}

.messages {
    padding: 10px;
}